$small: 600px;
$medium: 800px;

.post-img {
  flex: 1 1 auto;
  text-align: center;
  max-width: 100%;

  a {
    // Negate theme's color accents
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }

    max-width: 100%;

    img {
      border-radius: 1em;
      
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;

      @media screen and (min-width: $small) {
        width: 75%;
      }
      @media screen and (min-width: $medium) {
        width: 60%;
      }
    }
  }
}

.page-sub-header {
  font-size: 2em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}