.post-img {
  display: block;
  text-align: center;

  a {
    // Negate theme's color accents
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }

    img {
      max-width: 100%;

      width: 100%;
      @media screen and (min-width: 768px) {
        width: 75%;
      }

      border-radius: 1em;
    }
  }
}
