$small: 600px;
$medium: 800px;

.post-img {
  flex: 1 1 auto;
  text-align: center;
  max-width: 100%;

  a {
    // Negate theme's color accents
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }

    max-width: 100%;

    img {
      border-radius: 1em;

      box-sizing: border-box;
      width: 100%;
      max-width: 100%;

      @media screen and (min-width: $small) {
        width: 75%;
      }
      @media screen and (min-width: $medium) {
        width: 60%;
      }
    }
  }
}

.page-sub-header {
  font-size: 2em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

:root {
  // Mobile first
  font-size: 1em;

  .page-header {
    font-size: 1.75em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  @media screen and (min-width: $small) {
    font-size: 1.25em;

    .page-header {
      font-size: 2em;
    }
  }
}

nav {
  /* Mobile-specific adjustments */
  flex-direction: row;

  @media screen and (max-width: 700px) {
    flex-direction: column !important;
  }
}
