$small: 600px;
$medium: 800px;

$img-border: 0.125em;
$transition: 0.2s;

a {
  /* use colored hovering */
  transition: $transition;
}

.post-img {
  flex: 1 1 auto;
  text-align: center;

  a {
    // Negate theme's color accents
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }

    img {
      border-radius: 0.5em;
      // border: 0.125em solid var(--text-0);

      box-sizing: border-box;
      width: auto;
      max-height: 18em;
      border: $img-border solid transparent;
      transition: $transition;
    }

    img:hover {
      // border: 0.125em solid var(--primary-color);
      border: $img-border solid var(--primary-color);
    }
  }
}

.page-sub-header {
  font-size: 2em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

:root {
  // Mobile first
  font-size: 1em;

  .page-header {
    font-size: 1.75em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  @media screen and (min-width: $small) {
    font-size: 1.25em;

    .page-header {
      font-size: 2em;
    }
  }
}

nav {
  /* Mobile-specific adjustments */
  flex-direction: row;

  @media screen and (max-width: 700px) {
    flex-direction: column !important;
  }
}
