$bg-0: #fff;
$bg-1: darken($bg-0, 2%);
$bg-2: darken($bg-1, 8%);

$text-0: darken($bg-0, 87%);
$text-1: darken($bg-0, 60%);

:root.light {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #ff9100;
  --hover-color: white;

  // invert colour on hover for consistency
  .social :hover {
    filter: invert(1);
  }

  .post-img {
    display: block;
    text-align: center;

    a {
      // Negate theme's color accents
      border-bottom: 0;
      &:hover {
        background-color: transparent;
      }

      img {
        max-width: 100%;

        width: 100%;
        @media screen and (min-width: 768px) {
          width: 75%;
        }

        border-radius: 1em;
      }
    }
  }
}
