{% extends "apollo/templates/homepage.html" %}

{% block main_content %}
    <main>
        <article>
            <section class="body">
                <div class="page-header">
                    {{ section.title }}<span class="primary-color">!</span>
                </div>

                {{ section.content | safe }}
            
            </section>
        </article>
    </main>
    
    <div class="page-sub-header">
        Recent posts
    </div>

    {% block post_list %}
        {% set posts_section = get_section(path="posts/_index.md") %}
        <main class="post-list">
            <ul>
                {% for page in posts_section.pages %}
                    {% if loop.index <= 10 %} 
                        {{ post_macros::list_post(page=page) }}
                    {% endif %}
                {% endfor -%}
            </ul>
        </main>

    {% endblock post_list %}    

    

{% endblock main_content %}
