{% extends "apollo/templates/homepage.html" %} {% block main_content %}
<main>
  <article>
    <section class="body">
      <div class="page-header">
        {{ section.title }}
      </div>

      {{ section.content | safe }}
    </section>
  </article>
</main>

{% block post_list %} {% set posts_section = get_section(path="posts/_index.md")
%}
<main class="post-list">
  <ul>
    {% for page in posts_section.pages %} {{
    post_macros::list_post(page=page) }} {% endfor -%}
  </ul>
</main>

{% endblock post_list %} {% endblock main_content %}
