name: CI
run-name: Zola blog deployment
on:
  push:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the current branch
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Initialize the ssh-agent
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install Zola
        run: sudo snap install zola --edge

      - name: Build the website
        run: zola build

      - name: Create ~/.ssh directory
        run: mkdir -p ~/.ssh/

      - name: Scan the host key
        run: ssh-keyscan -v -p $SSH_PORT -H $DEPLOY_SERVER >> ~/.ssh/known_hosts
        env:
          SSH_PORT: ${{ secrets.SSH_PORT }}
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}

      - name: Deploy the website
        run: >-
          rsync -avx -e "ssh -p $SSH_PORT" --delete --exclude '.ssh' public/ $DEPLOY_USERNAME@$DEPLOY_SERVER:./
        env:
          SSH_PORT: ${{ secrets.SSH_PORT }}
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}
          DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}

