name: Status
run-name: Status
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the current branch
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Zola
        run: sudo snap install zola --edge

      - name: Zola check
        run: zola check --skip-external-links

      - name: Build the website
        run: zola build --minify
