name: Status
run-name: Status
on:
  push:
  workflow_dispatch:

jobs:
  status:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the current branch
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: taiki-e/install-action@v2
        with:
          tool: zola@0.21.0

      - name: Zola check
        run: zola check --skip-external-links

      - name: Build the website
        run: zola build --minify
